@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist-Regular';
  src: url('./assets/Geist-Regular.otf')
}
@font-face {
  font-family: 'Geist-Bold';
  src: url('./assets/Geist-Bold.otf')
}
@font-face {
  font-family: 'Geist-Black';
  src: url('./assets/Geist-Black.otf')
}

*::-webkit-scrollbar {
  display: none;
}